# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# Helm
*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Secrets
*.pem
*.key
*.crt

# Kubernetes
kubeconfig